{% extends 'base.html' %} {% load static %} {% block content %}

<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card shadow p-4">
      <div class="text-center mb-3">
        <img
          src="{% static 'img/logo_.png' %}"
          alt="MediWay"
          height="40"
          class="mb-2"
        />
        <h3 class="mb-0">Login 🔐</h3>
      </div>

      {% if error %}
      <p class="text-danger text-center">{{ error }}</p>
      {% endif %}

      <form method="POST">
        {% csrf_token %}

        <input
          type="email"
          name="email"
          class="form-control mb-3"
          placeholder="Email"
          required
        />

        <input
          type="password"
          name="password"
          class="form-control mb-3"
          placeholder="Password"
          required
        />

        <button class="btn btn-primary w-100">Login</button>
      </form>

      <p class="text-center mt-3">
        Don't have an account? <a href="/signup/">Signup</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
